body {
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 36px;
}

.desc {
  font-style: italic;
  color: #444;
  text-align: center;
}

header {
  color: #f9faf8;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

header a,
header p {
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.top-bar {
  padding: 10px 10vw;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.links {
  display: flex;
  gap: 20px;
}

.head-content {
  display: flex;
  align-items: center;
  padding: 50px 10vw;
  gap: 50px;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

button {
  padding: 10px 30px;
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 8px;
  transition-duration: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #16d;
}

.head-right img {
  max-width: 40vw;
}

h2 {
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.photos {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.photos a {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-wrap: wrap;
  width: 15vw;
}

.photo {
  width: 15vw;
  border: 5px solid #3882f6;
  border-radius: 15px;
}
